
#vision{
    background:#DCEAF5;
} 
#vision{
    padding: 128px 0px 128px 0px;
}
#vision main div{
    max-width: 527px;
    background-color: antiquewhite;
}
main{
    display: flex;
    justify-content: space-between;
}
main div div{
    display: flex;
    text-align: center;
    margin-top: 33px;
}
main div h1{
    font-size: 64px;
    color: #1D3444;
}
main div p{
    font-size: 18px;
}

.all_post{
    margin-top: 128px;
}
.all_post h1{
    font-size: 48px;
}
.naim_column{
    background: #EDF7FF;
    margin-top: 40px;
}
main:nth-child(2){
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
}