nav{
    display: flex;
    max-width: 1280px;
    margin: auto;
}
.hemjee{
    display: flex;
    flex-direction: column;
}
.hemjee div{
    display: flex;
    /* flex-direction: column; */
    /* margin: 30px; */
}
.hemjee div div{
    display: flex;
    flex-direction: column;
    /* margin: 30px; */
}
.hemjee h1{
    font-size: 64px;
    color: #1D3444;
    margin-bottom: 64px;
    margin-top: 108px;
}
.hemjee h2{
    font-size: 48px;
    color: #0D1317;
}
.hemjee h3{
    font-size: 24px;
}
#job p{
    font: 18px;
    color: #5B5B5B;
    max-width: 640px;
    margin-top: 16px;

}
#job p:nth-child(1){
    margin-right: 284px;
}
.Details{
    background: #C1E4FF4D;
    padding-bottom: 69px;
    padding-top: 64px;
    margin-top: 64px;
    margin-bottom: 128px
}
.Details h3:nth-child(1){
    color:#F58A07;
}
.Details h3{
    margin-right: 92px;
    margin-left: 68px;
    margin-bottom: 40px;
}
.Details p{
    margin-right: 94px;
}
/* .Apply div{
    max-width: 1280px;
} */
input{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    flex-wrap: wrap;
    border-radius: 20px;
    border: 0;
    background: #D2DAED2B;
    max-width: 628px;
    height: 54px;
    color: #9C9C9C;
    padding: 17px 513px 18px 32px;
    margin-right: 24px;
    margin-bottom: 24px;

}
#why{
    padding: 29px 911px 167px 32px;

}
