#neg{

    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
}
#we-help-section{
    max-width: 1280px;
    margin: auto;
}
#sectionh{
    max-width: 750px;
    margin-top: 96px;
    color: #1D3444;
    font-size: 48px;
}
#sectionb{
    max-width: 750px;
    margin-top: 27px;
    font-size: 18px;
    color: #5B5B5B;
}
#neg div img{
    max-width: 400px;
    height: 240px;
    border-radius: 20px;
    margin-bottom: 33px;
}
#neg div{
    max-width: 400px;
    border-radius: 20px;
    margin-top: 64px;
}
#neg div p{
    margin-top: 17px;
}
.learnmore{
    color: #F58A07;
    margin-top: 24px;
}


#hoyr{ 
    background-color: #DCEAF5;
    display: flex;
    flex-direction: column;
}
#hoyr-container{
    max-width: 1280px;
    margin: auto;
    height: 665px;
}

#hoyr #text{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-top: 96px;
    padding-bottom: 64px;
    
}
#hoyr #box{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1282px;
}
#text h1{
    color: #0D1317;
    font-size: 36px;  
}
#text p{
    color: #1D3444;
    font-size: 18px;  
}
.icons{
    max-width: 401px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-height: 277px;
}
.icons img{
    margin-top: 40px;
    margin-left: 39px;
    margin-bottom: 32px;
    height: 34px;
    width: 33px;
}
.icons p{
margin-left: 39px;
margin-bottom: 37px;
}
.icons h4{
margin-bottom: 16px;
margin-left: 39px;
}

#gurav{
    max-width: 1280px;
    margin: auto;
}
#about{
    display: flex;

}
#about div h1{
    margin-top: 166px;
    max-width: 596px;
    font-size: 48px;
}
#about div p{
    margin-top: 32px;
    max-width: 510px;
    font-size: 18px;
    margin-bottom: 48px;
}
#about article{
    display: flex;
}
#about article div h2{
    color: #F58A07;
    font-size: 36px;
}
#about article div h3{
    font-size: 24px;
}
#about img{
    margin-top: 89px;
}
aside{
    background-image: url("/Finsweet/images/about-image.png");
    width: 100%;
    max-width: 1434px;
    height: 689px;
    background-size:     cover;        
    background-repeat:   no-repeat;
    background-position: center center; 
    border-radius: 20px;
    margin-top: 89px;
    margin-left: 49px;
}
aside div{
    position: absolute;
    width: 153px;
    height: 689px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
}
#four {
    max-width: 1280px;
    margin: auto;
    padding: 0 48px;
    background: #EDF7FF;
    border-radius: 20px;
    position: relative;
}
#four img{
    position: absolute;
    right: -15px;
    top: -15px;
}
#team{
    border-radius: 20px;
    padding-left: 48px;
    padding-right: 43px;
}
#team ul{
    display: flex;
    list-style: none;
    margin-top: 48px;
}
#team ul li{
    border: 1px solid #A8BCCC;
    border-radius: 31px;
    color: rgba(6, 50, 85, 0.3);
    padding: 8px 24px;
    margin-right: 24px;
}
#team ul li:hover{
    background-color: white;
    color: #F58A07;
    border-color: white;
}
#team main{
    display: flex;
}
#teamtext{
    /* margin-left: 48px; */
    /* margin-top: 80px; */
}
#teamtext h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
    max-width: 572px;
    margin-bottom: 25px;
    margin-top: 80px;
}
#teamtext p{
    font-size: 18px;
    color: #5B5B5B;
    max-width: 510px;
    margin-bottom: 40px;
}
#teamtext p:nth-child(4){
    color: #F58A07;
}
#teamimg{
    margin-top: 80px;
    margin-bottom: 48px;
    justify-content: flex-end;
}
#teamimg img{
margin-top: 168px;
margin-right: 43px;
margin-bottom: 48px;
}
#teamimg div{
    width: 120px;
    height: 466px;
    border-radius: 20px 0px 0px 20px;
    background: #F58A07;
    mix-blend-mode: multiply;
}

#job-vacations{
    margin-top:128px;
    display: flex;
    background: #F58A07;
    height: 518px;
}

#job-vacations #zurag{
    flex: 1;
    background-image: url("/Finsweet/images/experience-image.png");
    width: 963px;
    height: 518px;
    background-size:     cover;        
    background-repeat:   no-repeat;
    background-position: center center; 
}
#job-vacations #box{
    flex: 1;
}
#job-vacations #box h1{
    color:#FFFFFF ;
    font-size: 48px;
    margin-top: 128px;
    margin-left: 128px;
    max-width: 532px;
}
#job-vacations #box p{
    color:#F58A07 ;
    background-color: white;
    width: 216px;
    text-align: center;
    border-radius: 31px;
    padding: 19px 32px;
    margin-top: 59px;
    margin-left: 128px;
}
#doloo{
    display: flex;
    max-width: 1280px;
    margin: auto;
}
#doloo #ceo{
    flex: 1;
    background-color: #9C9C9C;
    padding-right: 110px;
}
#doloo #ceo h1{
    margin-top:206px;
    max-width: 550px;
    font-size: 48px;
}
#doloo #ceo p{
    margin-top:24px;
    max-width: 550px;
    font-size: 18px;
}
#doloo #ceo div{
    margin-top: 40px;
    display: flex;
}
#doloo #ceo div div{
    display: flex;
    flex-direction: column;
    margin-left:24px ;
}
#doloo #ceo div div h6{
    margin-top: 16px;
    color: #F58A07;
    font-size: 18px;
}
#doloo #ceo div div h5{
    color: #063255;
    font-size: 24px;
}

#doloo #video{
flex: 1;
margin-top: 128px;
background-color: lightgray;
}
#doloo #video div{
background-image: url(/Finsweet/images/video-image.png);
width: 620px;
height: 501px;
}
#video div{
    background: #FFFFFF;
    width: 51px;
    height: 51px;
    border-radius: 50%;
}
/* #play{
    width: 17px;
    height: 17px;
    background: #F58A07;
    transform: rotate(90deg);
} */
#naim{
    background-color: #DCEAF5;
    margin-top: 128px;
}
#naim h1{
    font-size: 48px;
    color: #0D1317;
    margin-top: 96px;
    margin-left: 320px;

}
#naim main{
    margin-top: 64px;
    margin-left: 320px;
    display: flex;
    margin-bottom: 96px;
    justify-content: space-evenly;
}
#naim div{
    background-color: white;
    height: 507px;
    width: 400px;
    border-radius: 20px;
    margin-right: 24px;
}
.naimzurag{
width: 400px;
height: 230px;
border-radius: 20px;
}
#naim div h4{
    font-size: 24px;
    max-width: 336px;
    margin-left: 32px;
    margin-top: 32px;
    margin-bottom: 16px;
}
#naim div p{
    font-size: 16px;
    max-width: 336px;
    margin-left: 32px;
    margin-bottom: 24px;
}
footer{
    height: 463px;
    background-color: #063255;
    display: flex;
    position: relative;
    justify-content: space-around;
}
#hol1{
    background: #F58A07;
    width: 53px;
    height: 144px;
    border-radius: 0px 20px 0px 0px;    
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#hol2{

    max-width: 351px;
}
#hol2 #finslogo{
    margin-top: 80px;
}
#hol2 h2{
    color: white;
    font-size: 36px;
    margin-top: 32px;
}
#hol2 img{
    margin-top: 33px;
    margin-right: 24px;
    text-align: center;
}
#hol2 p{
    color: white;
    margin-top: 83px;
}
#hol3 h5{
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 80px;
}
#hol3 p{
    margin-top: 16px;
    color: #FFFFFF;
}
#hol4 h5{
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 80px;
}
#hol4 p{
    margin-top: 16px;
    color: #FFFFFF;
}
#hol5 h5{
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 80px;
}
#hol5 #email{
    background: #FFFFFF;
    border-radius: 31px;
    margin-top: 24px;
    color: #9C9C9C;
    padding: 18px 188px 18px 32px;
}
#hol5 #Subscribe{
    background: #F58A07;
    border-radius: 31px;
    margin-top: 16px;
    color: white;
    padding: 18px 32px;
    max-width: 156px;
}
#hol5 p{
    color: white;
    text-align: right;
    margin-top: 104px;
    display: inline-block;
}
#hol5 p:nth-child(2){
    margin-left: 32px;
}
#hol6{
    background: #F58A07;
    width: 53px;
    height: 287px;
    border-radius: 20px 0px 0px 20px;    
    position: absolute;
    top: 38px;
    right: 0px;
}