

.learnmore{
    color: #F58A07;
    margin-top: 24px;
}
.learnmore::after{
    content: "\2192";
    color: #F58A07;
    text-align: center;
    margin-left: 5px;
}





#heseg1{
    display: flex;
    background-color: lightgrey;
    margin-top: 100px;
}
#heseg1 div h1{
    margin-top: 166px;
    max-width: 596px;
    font-size: 48px;
}
#heseg1 div p{
    margin-top: 32px;
    max-width: 510px;
    font-size: 18px;
    margin-bottom: 48px;
}
#heseg1 div h2{
    color: #F58A07;
    font-size: 36px;
}
#heseg1 div h3{
    font-size: 24px;
}
#button2{
    background: #F58A07;
    border-radius: 31px;
    margin-top: 16px;
    color: white;
    padding: 18px 32px;
    max-width: 171px;
}
aside{
    position: relative;
    text-align: left;
}
aside div{
    position: absolute;
    top:0px;
    width: 180px;
    height: 650px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
}






#heseg2{
    display: flex;
    background-color: lightblue;
    margin-top: 100px;
}
#heseg2 div h1{
    margin-top: 128px;
    max-width: 596px;
    font-size: 48px;
}
#heseg2 div p{
    margin-top: 32px;
    max-width: 510px;
    font-size: 18px;
    margin-bottom: 48px;
}
#heseg2 div h2{
    color: #F58A07;
    font-size: 36px;
}
#heseg2 div h3{
    font-size: 24px;
}

aside{
    position: relative;
    /* text-align: right; */
}
#heseg2 aside div{
    position: absolute;
    top: 128px;
    left:-48px;
    width: 95px;
    height: 97px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}



#heseg3{
    display: flex;
    background-color: lightgrey;
    margin-top: 100px;
}
#heseg3 div h1{
    margin-top: 166px;
    max-width: 596px;
    font-size: 48px;
}
#heseg3 div p{
    margin-top: 32px;
    max-width: 510px;
    font-size: 18px;
    margin-bottom: 48px;
}
#heseg3 div h2{
    color: #F58A07;
    font-size: 36px;
}
#heseg3 div h3{
    font-size: 24px;
}
#heseg3 aside{
    position: relative;
    text-align: left;
}
#heseg3 aside div{
    position: absolute;
    top: 128px;
    left:48px;
    width: 95px;
    height: 97px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}



#heseg4{
    display: flex;
    background-color: lightblue;
    margin-top: 100px;
}
#heseg4 div h1{
    margin-top: 128px;
    max-width: 596px;
    font-size: 48px;
}
#heseg4 div p{
    margin-top: 32px;
    max-width: 510px;
    font-size: 18px;
    margin-bottom: 48px;
}
#heseg4 div h2{
    color: #F58A07;
    font-size: 36px;
}
#heseg4 div h3{
    font-size: 24px;
}

aside{
    position: relative;
    /* text-align: right; */
}
#heseg4 aside div{
    position: absolute;
    top: 128px;
    left:-48px;
    width: 95px;
    height: 97px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}

#heseg5{
    display: flex;
    background-color: lightgrey;
    margin-top: 100px;
}
#heseg5 div h1{
    margin-top: 166px;
    max-width: 596px;
    font-size: 48px;
}
#heseg5 div p{
    margin-top: 32px;
    max-width: 510px;
    font-size: 18px;
    margin-bottom: 48px;
}
#heseg5 div h2{
    color: #F58A07;
    font-size: 36px;
}
#heseg5 div h3{
    font-size: 24px;
}
#heseg5 aside{
    position: relative;
    text-align: left;
}
#heseg5 aside div{
    position: absolute;
    top: 128px;
    left:48px;
    width: 95px;
    height: 97px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}




#doloo{
    display: flex;
    max-width: 1280px;
    margin: auto;
}
#ceo{
    flex: 1;
    padding-right: 110px;
}
#ceo h1{
    margin-top:206px;
    max-width: 550px;
    font-size: 48px;
}
#ceo p{
    margin-top:24px;
    max-width: 550px;
    font-size: 18px;
}
#ceo div{
    margin-top: 40px;
    display: flex;
}
#ceo_ner{
    display: flex;
    flex-direction: column;
    margin-left:24px ;
}
#ceo h5{
    color: #063255;
    font-size: 24px;
    margin-top: 10px;
}
#ceo h6{
    margin-top: 16px;
    color: #F58A07;
    font-size: 18px;
}

#video{
flex: 1;
margin: 128px 0 128px 0;
position: relative;
}
#video p{
font-size: 18px;
color: white;
position: absolute;
top: 426px;
left: 108px;
}
#playbutton{
    background: #FFFFFF;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    position: absolute;
    top:410px;
    left: 40px;
    padding-top: 17px;
    padding-left: 20px;
}
#playbutton img{
    position: absolute;
    left: 20px;
    top: 20px;
}


